@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
  font-weight: 700;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 8px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 10px;
  margin-top: 16px;
  background: #f40000;
  border: none;
  color: #f5f3f4;
  font-weight: 500;
  font-size: 20px;
  border-radius: 24px;
  transition: background 0.3s ease;
}

button:hover {
  background: #fb3030;
}

button:disabled {
  cursor: default;
  background: #fb3030;
}

/* Join Page Styles */

.centered-form {
  background: #161a1d;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 32px;
  width: 350px;
  border-radius: 20px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 20px;
  padding: 8px 10px;
  width: 100%;
}

/* Chat Page Layout */

.chat {
  display: flex;
}

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #161a1d;
  width: 300px;
  overflow-y: scroll;
}

/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

/* Modal Styles */
.modal {
  background: pink;
  width: max-content;
  max-width: 35vw;
  word-wrap: break-word;
  border-radius: 8px;
  margin: auto;
  padding: 10px 14px;
  margin-bottom: 18px;
}

.modal__name {
  font-weight: 600;
  font-size: 16px;
  margin-right: 16px;
}

.modal__meta {
  color: rgb(66, 66, 66);
  font-size: 12px;
}

/* Message Styles */

.message {
  position: relative;
  background: #e30613;
  text-align: right;
  border-radius: 6px;
  /*  */
  margin-bottom: 16px;
  padding: 4px 14px 8px 14px;
  color: white;
  width: max-content;
  max-width: 40vw;
  word-wrap: break-word;
}

.message::after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 0px;
  left: -8px;
  border: 10px solid transparent;
  border-top: 10px solid #e30613;
  clear: both;
}

.message__name {
  font-weight: 600;
  font-size: 16px;
  margin-right: 12px;
}

.message__meta {
  color: rgb(220, 220, 220);
  font-size: 12px;
}
.message__main {
  text-align: left;
  font-size: 16px;
  margin-top: 8px;
}

.message a {
  color: pink;
}

/* Message Me Styles */
.message-para {
  display: flex;
  justify-content: space-between;
}

.message-me {
  position: relative;
  background: #e30613;
  text-align: right;
  border-radius: 6px;
  margin-left: auto;
  /*  */
  margin-bottom: 16px;
  padding: 4px 14px 8px 14px;
  color: white;
  width: max-content;
  max-width: 40vw;
  word-wrap: break-word;
}

.message-me::after {
  content: "";
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -8px;
  border: 10px solid transparent;
  border-top: 10px solid #e30613;
  clear: both;
}

.message-me__main {
  text-align: left;
  font-size: 16px;
  margin-top: 8px;
}

.message-me a {
  color: pink;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #d3d3d3;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  border-radius: 24px;
  flex-grow: 1;
}

.compose button {
  font-size: 16px;
  padding: 0 14px;
  margin: 0;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 600;
  font-size: 26px;
  background: #e5383b;
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 6px 24px 0 48px;
}

.users li {
  margin: 4px;
}

@media screen and (max-width: 480px) {
  .centered-form__box {
    width: 300px;
    padding: 22px;
  }
  .centered-form__box h1 {
    font-size: 28px;
  }
  .centered-form__box button {
    font-size: 18px;
    padding: 8px;
    margin-top: 6px;
  }
  .chat__sidebar {
    width: 110px;
  }
  .room-title {
    font-size: 20px;
    padding: 16px;
  }
  .list-title {
    font-size: 18px;
    padding: 12px 14px 0 10px;
  }
  .users {
    font-size: 12px;
    padding: 0 12px 0 20px;
  }
  .modal {
    padding: 6px 10px;
    max-width: 80vw;
  }
  .modal__name {
    font-size: 12px;
  }
  .modal__meta {
    font-size: 10px;
  }
  .message-me {
    padding: 4px 8px 6px 8px;
    max-width: 50vw;
  }
  .message__name {
    font-size: 14px;
  }
  .message__meta {
    font-size: 10px;
  }
  .message-me__main {
    margin-top: 2px;
    font-size: 14px;
  }
  .message__main {
    margin-top: 2px;
    font-size: 14px;
  }
  .compose {
    margin-top: 10px;
    padding: 10px 6px;
    height: 55px;
  }
  .compose form {
    margin-right: 4px;
  }
  .compose button {
    font-size: 10px;
    padding: 0;
  }
  .compose input {
    margin-right: 4px;
  }
  #message-form button {
    padding: 0 10px;
  }
}
